[user]
	name = Dennis Gill
	email = dg@fluidmobile.de
[color]
	ui = true
[push]
	default = simple
[core]
	autocrlf = input
  excludesfile = ~/.gitignore
[url "git@bitbucket.com:"]
    insteadOf = bb:
[url "git@github.com:"]
    insteadOf = gh:
